.navbar-brand{
    padding-left: 30px;
}
.navbar-brand .logo{
    width: 100px;
    height: 40px;
    color: #109e92 !important;

}
.iletisim-table{
    padding-left: 5px;
}

@media  (max-width: 992px) {
    .iletisim{
        padding-left: 50px !important;
    }
}
.topbar{
    background-color: #181918;
    color: #eee;
    text-align: center;
    font-size: 14px !important;
}
.topbar .phone-number{
    color: #eee;
    font-size: 13px !important;
    text-decoration: none;
}
.topbar .phone-number:hover{
    color: #6ae2a0;
}
.slider{
    color: #333;
}
.carousel-caption h3{
    background-color: rgba(51, 51, 51, 0.5);
    text-align: left;
    width: 50%;
    height: auto;
    font-size: 2.3vw !important;
    padding: 5px 20px;
}

.carousel-caption p{
    text-shadow: 2px 2px #000;
    width: 50%;
    text-align: justify;
    font-size: 2.3vw !important;
}

.page-footer{
    background-color: #181918;
    color: #ddd;
    height: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.page-footer .footer-col{
    padding-left: 10px;
    padding-right: 10px;
}
.footer-logo{
    width: 100%;
    height: auto;
    color: #109e92 !important;
    padding-right: 5px;
}
.second-col, .third-col, .fourth-col{
    text-align: center;
}
.second-col ul ,.third-col ul{
    list-style: none;
    padding: 0 !important;
}
.footer-about{
    text-align: justify;
    font-size: 12px;
}
.footer-link{
    font-size: 13px;
    color: #ddd;
}
.footer-link:hover{
    color: #6ae2a0;
    text-decoration: none;
}
.default-section{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
hr.seperator{
    width: 80%;
    background-color: #888;
}
.default-section.even{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #eee;
}